version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: weekly
    target-branch: main
    ignore:
      - dependency-name: "Django"
        versions: [">5.2.*"]
