version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "django52"
    # Disable *version* update PRs for pip
    open-pull-requests-limit: 0
